[database]
host     = localhost
username = dbuser
password = dbpasswd
dbname   = dbovzcp

[application]
securitySalt = extremlySecure

[mail]
relayhost = mail.server.org
rootalias = root@domain.org
from = ovzcp@domain.org

[push]
jwtsigningkey = ALPH4NUM3RiCSTRINGMIN128BIT

[pdf]
logo=/public/img/OpenVZ.png
footer=My PDF Footer
